.retrieved-documents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.retrieved-button,.matched-book {
    background-color: var(--color-blue3) !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.retrieved-content {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-blue3);
    padding: 8px 12px;
    border-radius: 4px;
    width: 300px; /* İçerik genişliği */
    max-height: auto;  
       color: var(--color-secondary3);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 10;
    text-align: left;
}

/* Hover yapıldığında içerik gösterilecek */
.retrieved-button:hover + .retrieved-content {
    opacity: 1;
    visibility: visible;
   
}


